configs/config_hg19_old.json
configs/config_hg19_test.json
configs/config_hg38_ANNA.json
singularities/canvas/hg19/canvas_hg19.simg
singularities/canvas/hg19/canvas_sing_hg19_old.def
singularities/canvas/hg38/canvas_hg38.simg
singularities/canvas/hg38/canvas_hg38_old.simg
singularities/sentieon/hg19/sentieon_peta_201911_hg19.simg
singularities/sentieon/hg19/sentieon_peta_201911_hg19_old.simg
singularities/sentieon/hg38/sentieon_peta_201911_hg38.simg
singularities/sentieon/hg38/sentieon_peta_201911_hg38_old.simg
.snakemake/
.vscode/
__pycache__/
igv.log
singularities/canvas/hg19/Canvas-1.40.0.1613.master_x64.tar.gz
singularities/canvas/hg38/Canvas-1.40.0.1613.master_x64.tar.gz
workflows/scripts/__pycache__/
workflows/scripts/b_allele_igv_plot/__pycache__/
