[submodule "workflows/scripts/annotate_manta_canvas"]
	path = workflows/scripts/annotate_manta_canvas
	url = git@github.com:ClinicalGenomicsGBG/annotate_manta_canvas
[submodule "workflows/scripts/b_allele_igv_plot"]
	path = workflows/scripts/b_allele_igv_plot
	url = git@github.com:ClinicalGenomicsGBG/b_allele_igv_plot
[submodule "workflows/scripts/canvas_to_interpreter"]
	path = workflows/scripts/canvas_to_interpreter
	url = git@github.com:ClinicalGenomicsGBG/canvas_to_interpreter
