[submodule "workflows/scripts/annotate_manta_canvas"]
	path = workflows/scripts/annotate_manta_canvas
	url = git@github.com:ClinicalGenomicsGBG/annotate_manta_canvas
        ignore = dirty
[submodule "workflows/scripts/b_allele_igv_plot"]
	path = workflows/scripts/b_allele_igv_plot
	url = git@github.com:ClinicalGenomicsGBG/b_allele_igv_plot
        ignore = dirty        
[submodule "workflows/scripts/canvas_to_interpreter"]
	path = workflows/scripts/canvas_to_interpreter
	url = git@github.com:ClinicalGenomicsGBG/canvas_to_interpreter
        ignore = dirty
[submodule "workflows/scripts/alissa_connector_upload"]
	path = workflows/scripts/alissa_connector_upload
	url = git@github.com:ClinicalGenomicsGBG/alissa_connector_upload
        ignore = dirty
[submodule "workflows/scripts/Alissa_API_tools"]
	path = workflows/scripts/Alissa_API_tools
	url = git@github.com:ClinicalGenomicsGBG/Alissa_API_tools.git
